@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgb(158, 150, 159);
  font-family: Poppins, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #1f1a24;
}

#app {
  text-align: center;
  color: #dedede;
  padding-top: 1.5em;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 100%));
  grid-gap: 2em;
  padding: 1em 3em 0 3em;
}

.logo {
  justify-self: center;
  align-self: center;
  width: 75%;
}

.characterContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3em;
  grid-gap: 2em;
  margin: auto;
}

input {
  background-color: #292929;
  border: 1px solid rgb(58, 58, 58);
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 0.3em;
}
input:focus {
  outline: none;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
